::-webkit-scrollbar {display: none;}

body{
    margin-top:20px;
    color: #1a202c;
    padding: 0.5em;
    padding-top: 0;
    background-color: rgb(148, 124, 251);
    text-align: justify;
    background-image: url('../img/fondo.jpg');
    background-repeat: no-repeat;
}
.card {
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
}
.img-thumbnail{
    background-color:black;
}

.audio{
    text-decoration: none;
    color: #1a202c;
}

.toast{
    padding: 0.5em;
    width: 70%;
    transform: translate(23% , -180%);
    background-color: #ac72f8;
    transition: all 0.5s;
    color: #fff;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0,0,0,.125);
    border-radius: .25rem;
}
.container-fluid{
    padding-left: 3em;
    padding-right: 3.7em;
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
}
a{
    text-decoration: none;
    color: #ac72f8;
}
h4{
    text-align: center;
}
@font-face {
    font-family: marlo;
    src: url("../fonts/mark_my_words.ttf");
}

.btn{
    background-color: #ac72f8;
    color: white;
}

#titulo{
font-family: marlo;
}

.gafas {
transform: rotate(22deg);
}