body {
    text-align: justify;
    background-image: url('../img/fondo.jpg');
    background-size:cover;
    background-repeat: no-repeat;
}
::-webkit-scrollbar {display: none;}
@font-face {
    font-family: marlo;
    src: url("../fonts/mark_my_words.ttf");
}

@font-face {
    font-family: titulo;
    src: url("../fonts/Brotherhood\ Demo.ttf");
}

.ima {
    width: 1px;
}

hr{
  background-color: blueviolet;
  opacity: .80;
}
.table>:not(caption)>*>*{
  padding-left: 20px;
}

.psoe{
  text-align: left;
}


.coviiid {
    list-style-image: url("../img/covid.png");
}

.feoo{
  list-style-image: url("../img/marcochiquito.png");
}

.stalkkk{
  list-style-image: url("../img/ojos_1.png");
}

/* HEADER */
/* --------------------------------------- */

#titulo {
    font-family: marlo;
}

.gafas {
    transform: rotate(22deg);
}
/* --------------------------------------- */

/* ANIMACIONES */
/* --------------------------------------- */

/* ANIMACIÓN ENTRADA HEADER */

.slide-in-top {
    -webkit-animation: slide-in-top 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            animation: slide-in-top 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }

@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

/* ANIMACIÓN ENTRADA DERECHA */

.slide-in-right {
	-webkit-animation: slide-in-right 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-right 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

/* ANIMACIÓN ENTRADA IZQUIERDA */

.slide-in-left {
	-webkit-animation: slide-in-left 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-left 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

/* RESPONSIVE */

@media (max-width: 1250){

    .footerEstilo p{
        margin-left: 1em;
    }
}