/* Background image */

/* MIRAR POSICIONAMIENTO DE LA IMAGEN */
body {
    text-align: justify;
    background-image: url('../img/fondo.jpg');
    background-repeat: no-repeat;
}

.carousel-control{
  color: black
}

.test{
  background-color: rgb(208, 193, 214);
  width: 20px;
  font-size: .9em;
}



@font-face {
    font-family: marlo;
    src: url("../fonts/mark_my_words.ttf");
}

.titulo-perfiles{
  font-family: marlo;
  font-size: 2em;
}

#titulo{
  font-family: marlo;
}

.gafas {
  transform: rotate(22deg);
}

.azulito{
    color: white;
    font-size: 1.25em;
}

.azulito:hover{
    color:black;
}



.perfil{
    background-color: rgb(208, 193, 214);
    border-radius: 5px;
}

.perfil li{
  font-size: .8em;
}

.centrarTitulo{
  text-align: center;
}

.noticia span{
  font-weight: bolder;
  font-size: 1.1em;
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl{
  padding-left: 0;
  padding-right: 0;
}

.noticia{
  background-color: rgb(208, 193, 214);
  border-radius: 7px;
  padding: 1em;
}

.noticias {
  background-color: rgb(226, 217, 230);
  padding: 1em;
}

.enlace{
  text-decoration: none;
  border: 3px solid rgb(145, 115, 156);
  padding: .5em;
  border-radius: 10px;
  color: white;
  background-color: rgb(188, 167, 196);
}

.enlace:hover{
  color: white;
  font-weight: bolder;
}


.carousel-control-prev-icon{
  background-image: url("../img/atras.png");
  position: relative;
  right: 29px;
  width: 70px;
  height: 70px;
}

.carousel-control-next-icon{
  background-image: url("../img/alante.png");
  position: relative;
  left: 29px;
  width: 70px;
  height: 70px;
}



  
  .text-small {
    font-size: 85%;
  }
  
  .dropdown-toggle {
    outline: 0;
  }



  /* ANIMACIONES */

  /* ANIMACIÓN ENTRADA FOTOS */

.fade-in {
	        animation: fade-in 1.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}


 @-webkit-keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }


/* ANIMACIÓN ENTRADA HEADER */

  .slide-in-top {
    -webkit-animation: slide-in-top 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            animation: slide-in-top 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }

@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

/* ANIMACIÓN ENTRADA PERFILES */

.slide-in-right {
	-webkit-animation: slide-in-right 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-right 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

/* ANIMACIÓN ENTRADA ANUNCIOS */

.slide-in-left {
	-webkit-animation: slide-in-left 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-left 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

/* Botón de vibrar */

.enlace{-webkit-animation:vibrate-3 .5s linear infinite both;animation:vibrate-3 .5s linear infinite both}


 @-webkit-keyframes vibrate-3{0%{-webkit-transform:translate(0);transform:translate(0)}10%{-webkit-transform:translate(-2px,-2px);transform:translate(-2px,-2px)}20%{-webkit-transform:translate(2px,-2px);transform:translate(2px,-2px)}30%{-webkit-transform:translate(-2px,2px);transform:translate(-2px,2px)}40%{-webkit-transform:translate(2px,2px);transform:translate(2px,2px)}50%{-webkit-transform:translate(-2px,-2px);transform:translate(-2px,-2px)}60%{-webkit-transform:translate(2px,-2px);transform:translate(2px,-2px)}70%{-webkit-transform:translate(-2px,2px);transform:translate(-2px,2px)}80%{-webkit-transform:translate(-2px,-2px);transform:translate(-2px,-2px)}90%{-webkit-transform:translate(2px,-2px);transform:translate(2px,-2px)}100%{-webkit-transform:translate(0);transform:translate(0)}}@keyframes vibrate-3{0%{-webkit-transform:translate(0);transform:translate(0)}10%{-webkit-transform:translate(-2px,-2px);transform:translate(-2px,-2px)}20%{-webkit-transform:translate(2px,-2px);transform:translate(2px,-2px)}30%{-webkit-transform:translate(-2px,2px);transform:translate(-2px,2px)}40%{-webkit-transform:translate(2px,2px);transform:translate(2px,2px)}50%{-webkit-transform:translate(-2px,-2px);transform:translate(-2px,-2px)}60%{-webkit-transform:translate(2px,-2px);transform:translate(2px,-2px)}70%{-webkit-transform:translate(-2px,2px);transform:translate(-2px,2px)}80%{-webkit-transform:translate(-2px,-2px);transform:translate(-2px,-2px)}90%{-webkit-transform:translate(2px,-2px);transform:translate(2px,-2px)}100%{-webkit-transform:translate(0);transform:translate(0)}}


  
  /* RESPONSIVE */
  /* ------------------------------------ */

  @media (max-width: 1320px){
    .centrar{
      width: 120px;
      height: 120px;
    }

    .titulo-perfiles{
      font-size: 1.4em;
    }
  }

  @media (max-width: 1150px){
    .centrar{
      width: 100px;
      height: 100px;
    }

    .titulo-perfiles{
      font-size: 1.2em;
    }
  }

  @media (max-width: 970){

    .titulo-perfiles{
      font-size: .8em;
    }
  }

  @media (max-width: 795){
    .centrar{
      width: 10px;
      height: 10px;
    }

    .titulo-perfiles{
      font-size: .8em;
    }
  }