/* Background image */

/* MIRAR POSICIONAMIENTO DE LA IMAGEN */
body {
    text-align: justify;
    background-image: url('../img/fondo.jpg');
    background-repeat: no-repeat;
}

.carousel-control{
  color: black
}

@font-face {
    font-family: marlo;
    src: url("../fonts/mark_my_words.ttf");
}

#titulo{
  font-family: marlo;
}

.gafas {
  transform: rotate(22deg);
}

.azulito{
    color: white;
    font-size: 1.25em;
}

.azulito:hover{
    color:black;
}

.centrar{
    display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: .5em;
}


.perfil{
    background-color: rgb(208, 193, 214);
    border-radius: 5px;
}

.perfil li{
  font-size: .8em;
}

.centrarTitulo{
  text-align: center;
}

header{
    background-color: rgb(148,124,251); 
    
}

.carousel-control-prev-icon{
  background-image: url("../img/atras.png");
}

.carousel-control-next-icon{
  background-image: url("../img/alante.png");
}

header h4{
    font-family: marlo;
    color: white;
    position: relative;
    top: 5px;
}

  
  .text-small {
    font-size: 85%;
  }
  
  .dropdown-toggle {
    outline: 0;
  }

  .prueba{
    width: 100px;
  }


  /* ANIMACIONES */

  /* ANIMACIÓN ENTRADA FOTOS */

.fade-in {
	        animation: fade-in 1.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}


 @-webkit-keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }


/* ANIMACIÓN ENTRADA HEADER */

  .slide-in-top {
    -webkit-animation: slide-in-top 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            animation: slide-in-top 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }

@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

/* ANIMACIÓN ENTRADA PERFILES */

.slide-in-right {
	-webkit-animation: slide-in-right 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-right 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

/* ANIMACIÓN ENTRADA ANUNCIOS */

.slide-in-left {
	-webkit-animation: slide-in-left 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-left 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

  
  /* RESPONSIVE */
  /* ------------------------------------ */

  @media (max-width: 1320px){
    .centrar{
      width: 120px;
      height: 120px;
    }
  }

  @media (max-width: 1150px){
    .centrar{
      width: 100px;
      height: 100px;
    }

    .perfiles h6{
      font-size: .8em;
    }
  }

  @media (max-width: 795){
    .centrar{
      width: 10px;
      height: 10px;
    }
  }