::-webkit-scrollbar {display: none;}

h1{
    /*color: rgb(148,124,251)*/
    color:white
}

/* Navegador */

.navbar{
    
    transform: scaleY(0.9);
}

#titulo{
font-family: marlo;
}

.gafas {
transform: rotate(22deg);
}

.enlace{
    text-decoration: none;
}
/* FUENTE */

@font-face {
    font-family: marlo;
    src: url("../fonts/mark_my_words.ttf");
}

@font-face {
    font-family: 'alba';
    src: url('../fonts/alba/ALBA____.TTF') format('truetype');
    font-style: italic;
    font-weight: normal;
}

/* PRINCIPAL */
body
{
    background-color: rgb(148, 124, 251);
    text-align: justify;
    background-image: url('../img/fondo.jpg');
    background-size: auto;
    background-repeat: no-repeat;
    
}

h1{
    /*color: rgb(148,124,251)*/
    color:white
}
.titulo{ 
    margin-left: 41.5%; 
    margin-top: 1em; font-family: alba; 
    -webkit-text-stroke: 2px rgb(148,124,251); 
    transform: scale(1.4)
}

.nav1{
    background-color: rgba(rgb(255, 255, 255), rgb(87, 235, 255),rgb(252, 255, 215), 50)
}

/* CONTENEDORES */

.uno-container{
    width: 100%;
    height: 80%;
}

.p-container {
    margin-top: 1em; 
    width: 99%;
    margin-left: 1%;
    height: 100%;
}

.col1, .col2{
    border-radius: 5px;
}

#manuelaIMG{
    width: 70px;
    height: 70px;
    margin-right: 0.4em;
    float:left;
}

.mensajeM{
    width: 40%;
    height: 70px;
    margin-left: 0.4em;
    float: right;
}

/* COLUMNA 1 MENU DE CHATS */

.col1{
    padding: 1em;
    background-repeat: no-repeat;
    background-size: 500%;
    color: rgb(148,124,251);
    overflow: hidden;
    text-align: left;
    overflow: auto;
    height: 100%;
}

#chats{
    text-align: center;
    font-family: alba; 
    color: white;
    -webkit-text-stroke: 1px rgb(148,124,251); 
}

.chatM{
    border-bottom: 1px solid rgb(207, 207, 207);
    transition: all 0.4s lineal;
}

.chatM:hover, .chatM label:hover{
    cursor: pointer;
}

.chatM img{
    width: 70px;
    height: 70px;
    margin-left: 12%;
    margin-top: 7px;
    margin-right: 20px;
    margin-bottom: 7px;
}

/* COLUMNA 2 CHAT ACTIVO */
.col2{
    background-image: url("../img/fondo_msn.jpg");
    background-size: 600px;
    /*border: 2px solid white; */
    color: white;
    overflow: hidden;
    height: 100%;
    overflow: auto;
}

#bloqueado{
    position: fixed;
    top: 50%;
    left: 55%;
    background-color: rgba(173, 29, 29, 0.815);
    border-radius: 5px;
    padding: 0.2em;
}

.usu1{
    float: left;
    margin-right: 50%;
    clear: both;
}

.usu2{
    float: right;
    clear: both;
}


#nMensaje {
    width: 90%;
    top: 40%;
    height: 40px;
    margin: 5%;
    padding: 0.2em;
    border-radius: 5px;
    border: 0px solid white;
    color: rgb(148,124,251);
    text-align: right;
    bottom: 10px;
    box-shadow: 1px 12px 33px rgba(0, 0, 0, 0.5);
}


input[type="text"]:focus{   
    border-color: rgba(147, 106, 241, 0.89);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgb(126, 239, 104);
    outline: 0 none;
  }

#nMensaje:hover, #nMensaje:focus {
    border: 2px solid rgb(148,124,251);
}

        /* BOCADILLOS */

        .bocadillo-cuadrado-usu1 {
            color: rgb(148,124,251);
            position: relative;
            width: 400px;
            background: white;
            box-shadow: 1px 12px 33px rgba(0, 0, 0, 0.5);
            border-radius: 5px;
            margin-top: 40px;
            margin-left: 20px;
            padding: 0.4em;
            text-align: justify;
        }
        .bocadillo-cuadrado-usu1:before {
            border: 12px solid white;
            content: '';
            border-left-color: transparent;
            border-bottom-color: transparent;
            border-right-color: transparent;
            position: absolute;
            bottom: -7px;
            right: 388px;
            transform: rotate(-208deg);
        }

        .bocadillo-cuadrado-usu2 {
            color: rgb(148,124,251);
            position: relative;
            width: 400px;
            background: white;
            box-shadow: 1px 12px 33px rgba(0, 0, 0, 0.5);
            border-radius: 5px;
            margin-top: 40px;
            padding: 0.4em;
            margin-right: 20px;
            text-align: right;
            padding-right: 1em;
            text-align: justify;
        }
        .bocadillo-cuadrado-usu2:before {
            border: 20px solid white;
            content: '';
            border-left-color: transparent;
            border-bottom-color: transparent;
            border-right-color: transparent;
            position: absolute;
            bottom: -20px;
            left: 360px;
            transform: rotate(+65deg);
        }


/* Activar desactivar chat */

.visible{
    display: inline;
}

.invisible{
    display: none;
}

.seleccionado{
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    transition: all 0.4s lineal;
}

.fecha{
    font-size: 0.8em;
    text-align: right !important;
}

/*
@keyframes deslizar {
    from {
      top: -300;
    }
  
    to {
      top: 0;
    }
  }

  #deslizar, .navbar {
    animation-name: deslizar;
    animation-duration: 1s;
 }

*/