#header {
    background-color: black;
    width: 100%;
    height: 50px;
}

body {
    background-color: rgb(148, 124, 251);
    text-align: justify;
    background-image: url('../img/fondo.jpg');
    background-repeat: no-repeat;
    background-size: cover ;
}

/* -------- ANIMACIONES -------- */

  /* ROTACION */
  @-webkit-keyframes rotacion{
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  @keyframes rotacion {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }

  /* ENTRADA POR LA DERECHA */
  @-webkit-keyframes entrada-derecha {
    0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    visibility: visible;
    }
    100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    }
    }
    @keyframes entrada-derecha {
    0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    visibility: visible;
    }
    100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    }
  }

  /* ENTRADA POR LA IZQUIERDA */
  @-webkit-keyframes entrada-izquierda {
    0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    visibility: visible;
    }
    100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    }
    }
    @keyframes entrada-izquierda {
    0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    visibility: visible;
    }
    100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    }
  }

  /* ENTRADA FOTOS INTRO */
  @-webkit-keyframes fotos-intro {
    0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    }
    100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    }
    }
    @keyframes fotos-intro {
    0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    }
    100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    }
  }

  /* APARICION */
    @-webkit-keyframes aparicion {
    0% {opacity: 0;}
    100% {opacity: 1;}
    }
    @keyframes aparicion {
    0% {opacity: 0;}
    100% {opacity: 1;}
    }

#prePaula:hover,#preAlvaro:hover, #preSergio:hover, #preRaquel:hover, #preDiego:hover {
  -webkit-animation: rotacion 0.6s ease-in-out both;
  animation: rotacion 0.6s ease-in-out both;
}

#div-alvaro, #div-paula, #div-sergio, #div-raquel, #div-diego {
  background-color: white;
  border-radius: 5px;
  padding: .5em;
}

#descripcion {
  background-color: white;
  border-radius: 5px;
  padding: .5em;

  -webkit-animation-name: aparicion;
  animation-name: aparicion;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  
  
}

.imagen {
  border-radius: 5px;
}


#diego, #paula, #raquel {
  -webkit-animation-name: entrada-derecha;
  animation-name: entrada-derecha;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

#alvaro, #sergio {
  -webkit-animation-name: entrada-izquierda;
  animation-name: entrada-izquierda;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }

#fotos-intro {
  -webkit-animation-name: fotos-intro;
  animation-name: fotos-intro;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }


  
  
  